---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import "@fontsource-variable/inter";
import "@/styles/globals.css";
import { Badge } from "@/components/ui/badge";
import { Card, CardContent } from "@/components/ui/card";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!-- <style>
  main {
    width: 960px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    width: calc(50% - 1rem);
  }
  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  ul li:first-child {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }
  ul li:first-child img {
    width: 100%;
  }
  ul li:first-child .title {
    font-size: 2.369rem;
  }
  ul li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
  }
  ul li a {
    display: block;
  }
  .title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
  }
  .date {
    margin: 0;
    color: rgb(var(--gray));
  }
  ul li a:hover h4,
  ul li a:hover .date {
    color: rgb(var(--accent));
  }
  ul a:hover img {
    box-shadow: var(--box-shadow);
  }
  @media (max-width: 720px) {
    ul {
      gap: 0.5em;
    }
    ul li {
      width: 100%;
      text-align: center;
    }
    ul li:first-child {
      margin-bottom: 0;
    }
    ul li:first-child .title {
      font-size: 1.563em;
    }
  }
</style> -->
<BaseLayout title="Blog">
  <section>
    <h2 class="mb-10">Blog</h2>

    <div>
      {
        posts.map((post) => (
          <Card className="mb-8 flex w-full pt-5 px-5">
            <a href={`/blog/${post.id}/`} class="flex w-full">
              <div>
                {/* <img width={720} height={360} src={post.data.heroImage} alt="" /> */}
                <h6 class="font-semibold">{post.data.title}</h6>
                <p>{post.data.description}</p>
                <div class="flex flex-wrap  gap-2 text-lg text-gray-800 mb-3">
                  {post.data.tags.map((skill, index) => (
                    <Badge variant="secondary">{skill}</Badge>
                  ))}
                </div>
                <p class="text-sm">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </div>
            </a>
          </Card>
        ))
      }
    </div>
  </section>
</BaseLayout>
